a {
  text-decoration: none;
  color: black;
}

.red {
  background-color: red;
}

.red * {
  color: white;
}

.orange {
  background-color: orange;
}

.orange * {
  color: black;
}

.purple {
  background-color: purple;
}
.purple * {
  color: white;
}

.green {
  background-color: green;
}

.green * {
  color: black;
}

.blue {
  background-color: blue;
}
.blue * {
  color: white;
}
