a {
  text-decoration: none;
  color: black;
}

.red {
  background-color: red;
  color: white;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
  color: white;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
  color: white;
}
